<ibm-header name="Carbon Starter">
	<ibm-header-navigation>
	  <ibm-header-item>Menu</ibm-header-item>
	</ibm-header-navigation>
	<ibm-header-global>
	  <ibm-header-action title="action">
		<svg icon ibmIconNotification20></svg>
	  </ibm-header-action>
	  <ibm-header-action title="action">
		<svg icon ibmIconUserAvatar20></svg>
	  </ibm-header-action>
	  <ibm-header-action title="action">
		<svg icon ibmIconAppSwitcher20></svg>
	  </ibm-header-action>
	</ibm-header-global>
  </ibm-header>


  <div
	[ngClass]="{
		'bx--loading--small': size === 'sm',
		'bx--loading--stop': !isActive && !overlay,
		'bx--loading-overlay--stop': !isActive && overlay
	}"
	class="bx--loading">
	<svg class="bx--loading__svg" viewBox="-75 -75 150 150">
		<title>{{title}}</title>
		<circle class="bx--loading__stroke" cx="0" cy="0" r="37.5" />
	</svg>
</div>
